<!-- menu -->
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="menu">

  <!-- .nav-parent -->
  <ul class="nav nav-pills nav-stacked nav-parent">

    <!-- pengenalan -->
    <li>
      <a data-toggle="collapse" data-parent="#menu" href="#pengenalan" class="menu">
        <span class="pull-right glyphicon glyphicon-chevron-down"></span>
        Pengenalan
      </a>
    </li>

      <!-- .nav-child -->
      <ul class="nav nav-stacked nav-child collapse in" id="pengenalan">
        {% if page.uri == '/' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
          <a href="{{ site.baseurl }}/">
            <span class="glyphicon glyphicon-ok"></span> Apa Itu PHP?
          </a>
        </li>

        {% if page.uri == 'fitur-php' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
          <a href="{{ site.baseurl }}/pengenalan/fitur-php">
            <span class="glyphicon glyphicon-ok"></span> Fitur PHP
          </a>
        </li>
      </ul>
      <!-- /.nav-child -->
    <!-- /pengenalan -->
    
    <!-- syntax dasar -->
    <li>
      <a data-toggle="collapse" data-parent="#menu" href="#syntax-dasar" class="menu">
        <span class="pull-right glyphicon glyphicon-chevron-down"></span>
        Syntax Dasar
      </a>
    </li>

      <!-- .nav-child -->
      <ul class="nav nav-stacked nav-child collapse in" id="syntax-dasar">                
        {% if page.uri == 'tag-php' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
          <a href="{{ site.baseurl }}/syntax-dasar/tag-php">
            <span class="glyphicon glyphicon-ok"></span> Tag PHP
          </a>
        </li>

      </ul>
      <!-- /.nav-child -->
    <!-- /syntax dasar -->

  </ul>
  <!-- /.nav-parent -->

</div>
<!-- /menu -->