<!DOCTYPE html>
<html lang="en">
  
  <!-- head -->
  <head>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Heru Rusdianto">
    <!-- /meta -->

    <title>{{ page.title }}</title>

    <!-- css -->
    <link href="{{ page.baseurl }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ page.baseurl }}/css/syntax.css" rel="stylesheet" media="screen">
    <link href="{{ page.baseurl }}/css/style.css" rel="stylesheet" media="screen">
    <!-- /css -->

  </head>
  <!-- /head -->

  <!-- body -->
  <body>

    {% include navbar.html %}

    <!-- .container-fluid  -->
    <div class="container-fluid">

      <!-- .row  -->
      <div class="row">

        {% include menu.html %}

        {{ content }}

      </div>
    <!-- /.row  -->

    </div>
    <!-- /.container-fluid  -->

    <!-- javascript -->
    <script src="{{ page.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ page.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ page.baseurl }}/js/script.js"></script>
    <!-- /javascript -->

  </body>
  <!-- /body -->

</html>